{% extends 'main.html'%}
{% block title %} room{% endblock %}
{% block content %}
<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">
    <div>
        
   


{{room.name}} 
<p>{{room.description}}</p>

<div class="comment-wrapper">
    <h3>Conversation</h3>
    <hr>
    
    {% for messege in room_messeges %}
    <div>
        {% if request.user == messege.user%}
    <a href="{% url 'delete-messege' messege.id %}">delete</a>
    {% endif %}
        <small>@{{messege.user}} {{messege.created|timesince}} ago</small>
        <hr>
        <p>{{messege.body}}</p>


    </div>
    {% endfor %}

</div>
{% if request.user.is_authenticated %}
<div comment-form>
    <form method="post" action="">
        {% csrf_token%}
        <input type="text" name="body" placeholder="write messege here....">

    </form>

</div>
{% endif %}
</div>
<div>
    <h3>Participents</h3>
    <hr>
    {% for user in participents %}
    <div>
        <p>@{{user.username}}</p>
    </div>
    {% endfor %}
    
</div>
</div>

{% endblock %}